/* Sidebar */
.side-bar {
    list-style: none;
    flex:0.25;
    height: 100vh;
    background: var(--color-bg-secondary);
    border-right: 1px solid var(--color-border);
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
}

    /* Logo */
    .side-bar .logo {
        font-size: var(--font-size-logo);
        font-weight: 600;
        color: var(--color-text);
        margin-bottom: 24px;
    }

    /* Menu */
    .side-bar > ul.sidebar {
        list-style: none;
        padding: 0;
        margin: 0;
    }

/* Categoria */
.sidebar-category {
    margin-bottom: 16px;
}

    .sidebar-category > span {
        display: block;
        font-size: var(--font-size-category);
        font-weight: 600;
        text-transform: uppercase;
        color: var(--color-text);
        opacity: 0.6;
        margin-bottom: 8px;
    }

/* Item */
.menu-item {
    list-style: none;
}

    /* Link principal */
    .menu-item > a {
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: var(--radius-default);
        color: var(--color-text);
        text-decoration: none;
        cursor: pointer;
        transition: background 0.2s ease, color 0.2s ease;
    }

        .menu-item > a:hover {
            background: var(--color-bg-hover);
            color: var(--color-text);
        }

/* Submenu */
.submenu {
    margin-top: 4px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: var(--color-bg-hover);
}

/* Submenu aberto */
.menu-item.open > .submenu {
    max-height: 300px;
}

.menu-item.open {
    background-color: var(--color-bg-hover);
}

/* Item do submenu */
.submenu .menu-item > a {
    margin-left: 15px;
    box-sizing: border-box;
    font-size: var(--font-size-menu);
    color: var(--color-text);
    opacity: 0.85;
}

    .submenu .menu-item > a:hover {
        background: var(--color-bg-hover);
        color: var(--color-text);
    }

/* Item ativo */
.menu-item > a.active {
    background: var(--color-primary);
    color: var(--color-text-white);
}

/* Seta */
.arrow {
    margin-left: auto;
    font-size: 12px;
    color: var(--color-text);
    opacity: 0.5;
    transition: transform 0.25s ease;
}

.menu-item.open > a .arrow {
    transform: rotate(180deg);
}

/* Conteúdo */
.content {
    flex: 1;
    padding: 24px;
}
